/* Chat container styles */
.chat-container {
	display: flex;
	flex-direction: column;
	height: 90vh; /* Full height of the viewport */
	max-width: 100%; /* Ensure it takes up the available width */
	border-radius: 10px;
	color: rgba(255, 255, 255, 0.87);
}

/* Chat window styles */
.chat-window {
	flex-grow: 1; /* Allow the chat window to grow but not push content down */
	overflow-y: auto; /* Scroll if messages overflow */
	display: flex;
	flex-direction: column;
	padding: 0 2rem;
    position: relative;
}

.logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% ) ;
    z-index: 0;
}

.chat-logo {
    opacity: 0.2;
    max-width: 200px;
    max-height: 200px;
  }

/* Chat bubble styles */
.chat-bubble {
	margin: 10px 0;
	padding: 20px 30px;
	border-radius: 10px;
	width: fit-content;
	max-width: 80%;
	text-align: left;
}

.chat-bubble {
	font-weight: 400;
	font-size: 1.2em;
    position: relative
    
}

.chat-bubble p:nth-of-type(1) {
	margin-top: 0;
}

.chat-bubble p:last-of-type {
	margin-bottom: 0;
}

.robot {
	background-color: #444;
	align-self: flex-start;
}

.user {
	background-color: #0084ff;
	align-self: flex-end;
	color: white;
}

/* Input container and styles */
.input-container {
	display: flex;
	padding: 5px;
	background-color: #333;
	border-radius: 2em;
	align-items: center;
	margin: 1em 2em;
}

.input-container textarea {
	flex: 1;
	padding: 10px;
	border-radius: 2em;
	border: none;
	outline: none;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	width: 100%;
	max-height: 300px;
	overflow-y: auto;
	resize: none;
	font-size: 1.2em;
	background-color: #333;
	padding-bottom: 0;
	padding-left: 21px;
	color: rgba(255, 255, 255, 0.87);
}

.input-container button {
	margin: 0 10px;
	background-color: #0084ff;
	border: none;
	color: white;
	cursor: pointer;
	border-radius: 2em;
}
