.dashboard-second-div {
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	padding: 0 2rem;
	gap: 4rem;
	justify-content: space-between;
}

.recent-logs {
	text-align: left;
}

.dashboard-second-header {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.dashboard-second-header img {
	width: 2.5rem;
	height: 2.5rem;
}

.ai-suggestions {
	text-align: left;
}

.disclaimer {
	font-size: 0.8rem;
	color: grey;
}