.log {
	padding: 2rem;
}

.small-log ul {
	padding-left: 0;
}

.list-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.log-buttons {
	display: flex;
	gap: 1rem;
}

.log-buttons button {
	display: flex;
	color: rgba(255, 255, 255, 0.87);
	background-color: transparent;
	gap: 0.75rem;
	align-items: center;
	padding: 0.6em;
	justify-content: center;
}

.log-buttons img {
	width: 1.75rem;
	height: 1.75rem;
}

.list-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	padding: 1rem;
	border-bottom: 1px solid rgba(255, 255, 255, 0.12);
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.list-item:hover {
	background-color: rgba(255, 255, 255, 0.12);
}

.list-item:nth-of-type(1) {
	border-top: 1px solid rgba(255, 255, 255, 0.12);
}

.log ul {
	padding-left: 0;
}

.right-list-item img {
	width: 1.75rem;
	height: 1.75rem;
}

.right-list-item {
	display: flex;
	gap: 1.5rem;
	align-items: center;
}

.list-item span {
	font-weight: bold;
	color: rgba(75, 192, 192, 1);
}

.log-buttons .add-log-button {
	background-color: green;
}

.log-buttons .add-log-button:hover {
	background-color: darkgreen;
}

.log-buttons .filter-button,
.log-buttons .sort-button {
	background-color: #1a1a1a;
	border: 1px solid #ffffffde;
}

.log-buttons .filter-button:hover,
.log-buttons .sort-button:hover {
	border: 1px solid #646cff;
}
